/*RESETEO MANUAL DE CSS*/ 

* {
    margin: 0;
    padding: 0; 
    box-sizing: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
/*FIN de reseteo manual de css*/