@charset "UTF-8";
/*--------------VARIABLES GLOBALES--------------*/
/*--------------Fin de VARIABLES GLOBALES--------------*/
/*--------------RESETEO MANUAL DE CSS--------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #f5f5f5;
}

img {
  max-width: 100%;
}

/*--------------FIN de reseteo manual de css--------------*/
/*--------------CLASES PARA PERSONALIZACION--------------*/
.seccion_centrada, .seccion-tres-index_div {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.seccion_centrada_mobile {
  max-width: 520px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.blanco-centrado, .seccion-uno-index_p, .seccion-uno-index_h2, .seccion-uno-index_h1 {
  color: white;
  text-align: center;
}

.flex_column, .seccion-tres-index_div, .seccion-dos-index, .seccion-uno-index {
  display: flex;
  flex-direction: column;
}

.flex_row, .seccion-separador-index_div, .seccion-separador-index {
  display: flex;
  flex-direction: row;
}

.grid_centrado, .seccion-tres-index_div_tecnologias {
  display: grid;
  justify-items: center;
  align-items: center;
}

/*--------------Fin de CLASES PARA PERSONALIZACION--------------*/
/*ESTILO GENERAL DEL SITIO*/
body {
  background-color: #1a1a1a;
}

h1, h2, h3, h4, h5, h6 {
  color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 1000;
  letter-spacing: 0.6rem;
}

h2 {
  font-weight: 800;
  text-shadow: 1px 1px 2px orange;
}

p {
  color: #f5f5f5;
  font-family: "Lora", serif;
  font-size: 15px;
  line-height: 2rem;
}

button {
  height: 2rem;
  width: 7rem;
  border-radius: 10px;
  align-self: center;
  background-color: #ff6600;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/****************************************************FOOTER RESPONSIVE****************************************************/
.footer {
  display: flex;
  flex-direction: column;
  background-color: #ff6600;
  height: 30vh;
  justify-content: center;
  align-items: center;
}

.footer_h2 {
  padding-bottom: 30px;
  justify-content: center;
  text-align: center;
}

.footer_div {
  display: flex;
  gap: 20px;
  padding: 15px 0px 15px 0px;
}

.div--iconos {
  display: flex;
  gap: 4vw;
}

.footer_button {
  background-color: #ffcc00;
}

/****************************************************Fin de FOOTER RESPONSIVE****************************************************/
/***************************************************PRIMERA SECCION INDEX: PORTADA (mobile)***************************************************/
.seccion-uno-index {
  padding: 2rem;
  background-image: url(../img/persona_programando.jpg);
  background-size: cover;
  height: 60vh;
  background-position: center;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
}

.seccion-uno-index_h1 {
  text-shadow: 0 0 10px black;
}

.button--portada {
  justify-content: center;
}

/***************************************************Fin de PRIMERA SECCION INDEX: PORTADA(mobile)***************************************************/
/***************************************************PRIMERA SECCION INDEX PORTADA(Desktop)***************************************************/
@media (min-width: 768px) {
  .seccion-uno-index {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
  .seccion-uno-index_h1 {
    grid-area: seccion-uno-index_h1;
  }
  .seccion-uno-index_h2 {
    grid-area: seccion-uno-index_h2;
  }
  .seccion-uno-index_p {
    grid-area: seccion-uno-index_p;
  }
  .seccion-uno-index_button {
    grid-area: seccion-uno-index_button;
  }
}
@media (min-width: 1200px) {
  .seccion-uno-index--min-height {
    min-height: 100vh;
  }
}
/***************************************************Fin de PRIMERA SECCION INDEX PORTADA(Desktop)***************************************************/
/***************************************************SEPARADOR INDEX (Mobile)***************************************************/
.seccion-separador-index {
  align-items: center;
  padding: 4px;
  justify-content: space-around;
  background-color: #f7a839;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.seccion-separador-index_div {
  color: white;
  width: 100%;
  justify-content: space-around;
}

.seccion-separador-index_h4 {
  font-size: 1rem;
}

/***************************************************Fin de SEPARADOR INDEX (Mobile)***************************************************/
/***************************************************SEGUNDA SECCION INDEX: VIDEO DE PRESENTACIÓN(mobile)***************************************************/
.seccion-dos-index {
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.seccion-dos-index_h2 {
  text-align: center;
  padding: 2rem;
  text-transform: uppercase;
  grid-area: segundo_subtitulo;
}

.seccion-dos-index_p {
  text-align: justify;
  padding: 1rem;
  grid-area: segundo_parrafo;
}

.seccion-dos-index_button {
  align-self: center;
  justify-content: center;
  width: 90%;
  grid-area: video;
}

.button--grid {
  margin-bottom: 3rem;
  grid-area: button_video;
  width: auto;
}

.video {
  width: 98%;
}

/***************************************************Fin de SEGUNDA SECCION INDEX: VIDEO DE PRESENTACIÓN(mobile)***************************************************/
/***************************************************SEGUNDA SECCION INDEX: VIDEO DE PRESENTACIÓN(Desktop)***************************************************/
@media (min-width: 768px) {
  .seccion-dos-index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr 0.5fr;
    grid-template-areas: "segundo_subtitulo segundo_subtitulo" "segundo_parrafo video" ". button_video";
  }
  .video {
    margin: 0px;
  }
  .seccion-dos-index_h2 {
    padding-top: 5vh;
  }
  .seccion-dos-index_p {
    font-size: 1.2rem;
  }
}
/***************************************************Fin de SEGUNDA SECCION INDEX: VIDEO DE PRESENTACIÓN(Desktop)***************************************************/
/***************************************************TERCERA SECCION INDEX: TECNOLOGÍAS QUE MANEJO(Mobile)***************************************************/
.seccion-tres-index {
  background-color: #333333;
  height: 65vh;
}

.seccion-tres-index_div {
  align-items: center;
  overflow: hidden;
}

.seccion-tres-index_h2 {
  padding-top: 50px;
  padding-bottom: 50px;
  text-transform: uppercase;
  text-align: center;
}

.seccion-tres-index_div_tecnologias {
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.seccion-tres-index_p {
  font-size: 1rem;
}

/***************************************************Fin de TERCERA SECCION INDEX: TECNOLOGÍAS QUE MANEJO(Mobile)***************************************************/
/***************************************************TERCERA SECCION INDEX: TECNOLOGÍAS QUE MANEJO(Desktop)***************************************************/
@media (min-width: 768px) {
  .seccion-tres-index_div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 9rem 20rem;
    height: auto;
    grid-template-areas: "seccion-tres-index_h2 seccion-tres-index_h2" "seccion-tres-index_div_tecnologias seccion-tres-index_p";
  }
  .seccion-tres-index {
    height: auto;
  }
  .seccion-tres-index_h2 {
    grid-area: seccion-tres-index_h2;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .seccion-tres-index_div_tecnologias {
    grid-area: seccion-tres-index_div_tecnologias;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .seccion-tres-index_p {
    grid-area: seccion-tres-index_p;
    text-align: justify;
    font-size: 1.2rem;
  }
  .seccion-tres-index_h2 {
    text-align: center;
  }
}
/***************************************************Fin de TERCERA SECCION INDEX: TECNOLOGÍAS QUE MANEJO(Desktop)***************************************************/
/***************************************************CUARTA SECCION INDEX: METODO DE TRABAJO (Mobile)***************************************************/
.seccion-cuatro-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem; /* Relleno alrededor del contenedor */
}

.seccion-cuatro-index_article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; /* Espacio entre los artículos */
}
.seccion-cuatro-index_article p {
  text-align: center;
}

.article--uno, .article--dos, .article--tres, .article--cuatro, .article--cinco {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 6rem;
  padding: 2rem;
  margin: 1rem 0;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.article--uno h3, .article--dos h3, .article--tres h3, .article--cuatro h3, .article--cinco h3 {
  color: #1a1a1a;
}
.article--uno p, .article--dos p, .article--tres p, .article--cuatro p, .article--cinco p {
  color: #1a1a1a;
}

.article--uno {
  background-image: url(../../img/1-circle-fill.svg);
}

.article--dos {
  background-image: url(../../img/2-circle-fill.svg);
}

.article--tres {
  background-image: url(../../img/3-circle-fill.svg);
}

.article--cuatro {
  background-image: url(../../img/4-circle-fill.svg);
}

.article--cinco {
  background-image: url(../../img/5-circle-fill.svg);
}

.seccion-cuatro-index_h2 {
  text-align: center;
}

.article--uno h3,
.article--dos h3,
.article--tres h3,
.article--cuatro h3,
.article--cinco h3 {
  color: #f5f5f5;
  text-shadow: 1px 1px #ff6600;
  text-align: center;
}

/***************************************************Fin de CUARTA SECCION INDEX: METODO DE TRABAJO (Mobile)***************************************************/
/***************************************************CUARTA SECCION INDEX: METODO DE TRABAJO (Desktop)***************************************************/
@media (min-width: 768px) {
  .seccion-cuatro-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr;
    grid-template-areas: "seccion-cuatro-index_h2 seccion-cuatro-index_h2" "article--uno article--dos" "article--tres article--cuatro" "article--cinco article--cinco";
    gap: 6rem;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10rem;
  }
  .seccion-cuatro-index_h2 {
    grid-area: seccion-cuatro-index_h2;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 6rem;
  }
  .article--uno {
    grid-area: article--uno;
  }
  .article--dos {
    grid-area: article--dos;
  }
  .article--tres {
    grid-area: article--tres;
  }
  .article--cuatro {
    grid-area: article--cuatro;
  }
  .article--cuatro h3 {
    text-align: center;
  }
  .article--cinco {
    grid-area: article--cinco;
  }
  .article--uno,
  .article--dos,
  .article--tres,
  .article--cuatro,
  .article--cinco {
    padding: 6rem;
    margin: 1rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .article--uno h3,
  .article--dos h3,
  .article--tres h3,
  .article--cuatro h3,
  .article--cinco h3 {
    color: #ff6600;
    text-shadow: 2px 1px #1a1a1a;
  }
}
/***************************************************Fin de CUARTA SECCION INDEX: METODO DE TRABAJO (Desktop)***************************************************/
/****************************************************PRIMERA SECCION SOBRE MI: PORTADA(Mobile)****************************************************/
.contenedor_general {
  position: relative; /* Para posicionar pseudo-elementos absolutamente dentro de esta sección */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000; /* Color del texto */
  z-index: 1;
  overflow: hidden; /* Asegura que los pseudo-elementos no se desborden */
  height: auto;
}

.contenedor_general::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: orange; /* Color de la parte inferior */
  clip-path: polygon(0 0, 100% 0, 0% 40%, 0 50%);
  z-index: -1; /* Asegura que el fondo esté detrás del contenido */
}

.contenedor_general::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Color de la parte superior */
  clip-path: polygon(0 0, 100% 0, 0 50%, 0 100%);
  z-index: -2; /* Asegura que esté detrás del otro pseudo-elemento */
}

.seccion-uno-sobre-mi_img { /*COLOCAR ESTILOS PARA NO ESTIRAR IMAGEN*/
  height: 150px;
  width: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.seccion-uno-sobre-mi_h1 {
  justify-content: center;
  text-align: center;
  padding-top: 2vh;
}

.seccion-uno-sobre-mi_h2 {
  justify-content: center;
  text-align: center;
  padding-bottom: 2vh;
  text-transform: uppercase;
  background-color: white;
  color: black;
}

.seccion-uno-sobre-mi_div_img_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}

.seccion-uno-sobre-mi_h3 {
  text-transform: uppercase;
  font-size: 1rem;
  color: black;
  text-shadow: 1px 1px orange;
  background-color: white;
}

/****************************************************Fin de PRIMERA SECCION SOBRE MI: PORTADA(Mobile)****************************************************/
/****************************************************PRIMERA SECCION SOBRE MI: PORTADA(Desktop)****************************************************/
@media (min-width: 768px) {
  .contenedor_general {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 90vh;
  }
  .lado--izquierdo {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .lado--derecho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
}
/*-----------------------------------------------*/
/****************************************************SEGUNDA SECCION SOBRE MI: DESCRIPCION(Mobile)****************************************************/
.seccion-dos-sobre-mi {
  display: flex;
  background-color: white;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-top: 9vh;
  padding-bottom: 9vh;
}

.div--contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seccion-dos-sobre-mi_p {
  text-align: center;
  color: black;
  text-align: justify;
  padding: 20px;
}

.seccion-dos-sobre-mi_h1 {
  color: black;
}

/****************************************************Fin de SEGUNDA SECCION SOBRE MI: DESCRIPCION(Mobile)****************************************************/
/*---------------------------------------------SERVICIOS---------------------------------------------*/
/****************************************************PRIMERA SECCION SERVICIOS: PORTADA(Mobile)****************************************************/
.seccion-uno-portada {
  display: flex;
  flex-direction: column;
  background-image: url(../img/portada_servicios.jpg);
  background-size: cover;
  background-position: center;
  height: 40vh;
  justify-content: center;
  align-items: center;
}

.seccion-uno-portada_titulo {
  color: white;
  text-shadow: 0 0 10px black;
}

/****************************************************Fin de PRIMERA SECCION SERVICIOS: PORTADA(Mobile)****************************************************/
/*-----------------------------------------------*/
/****************************************************SEGUNDA SECCION SERVICIOS: SERVICIOS OFRECIDOS (Mobile)****************************************************/
/*SERVICIO CODIGO (Mobile)*/
.seccion-uno_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 25px 10px 25px;
  background-color: #c2c2c2;
  margin: 100px 25px 100px 25px;
  border-radius: 5%;
}

.seccion-uno_div {
  text-align: center;
}

.seccion-uno_img {
  justify-content: center;
}

.seccion-uno_img {
  text-align: center;
}

/*SERVICIO WORDPRESS (Mobile)*/
.seccion-dos_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 25px 10px 25px;
  background-color: #c2c2c2;
  margin: 100px 25px 100px 25px;
  border-radius: 5%;
}

.seccion-dos_div_h2 {
  text-align: center;
  text-transform: uppercase;
}

.seccion-dos_div_img {
  justify-content: center;
}

.seccion-dos_div_p {
  text-align: center;
}

.seccion-uno_div {
  background-color: white;
}

.seccion-uno_div_subtitulo {
  color: black;
}

.seccion-uno_p {
  color: black;
}

.seccion-dos_div_h2 {
  color: black;
  text-transform: uppercase;
}

.seccion-dos_div_p {
  color: black;
}

.seccion-uno_div_subtitulo {
  text-transform: uppercase;
}

/****************************************************Fin de SEGUNDA SECCION: SERVICIOS OFRECIDOS (Mobile)****************************************************/
/****************************************************PRIMERA SECCION SERVICIOS: PORTADA(Desktop)****************************************************/
@media (min-width: 768px) {
  .seccion-general-servicios {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .seccion-uno-portada {
    max-width: 1600px;
  }
}
/*---------------------------------------------CONTACTO---------------------------------------------*/
/****************************************************PRIMERA SECCION CONTACTO: TITULO Y FORMULARIO (Mobile)****************************************************/
.seccion-uno_contacto_div_h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.seccion-dos_contacto_form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 30px;
  background-color: #333333;
}

.seccion-dos_contacto_form_div--nombre {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.seccion-dos_contacto_form_div--correo {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.seccion-dos_contacto_form_div--asunto {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.seccion-dos_contacto_form_div--texto {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.seccion-dos_contacto_form_div--novedades {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  margin-top: 1.5rem;
  justify-content: center;
}

.seccion-dos_contacto_form_div_button {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.casilla_de_marcado {
  margin-top: 5px;
  margin-bottom: 10px;
}

.seccion-dos_contacto_form_div--nombre {
  color: white;
}

.seccion-dos_contacto_form_div--correo {
  color: white;
}

.seccion-dos_contacto_form_div--asunto {
  color: white;
}

.seccion-dos_contacto_form_div--texto {
  color: white;
}

.seccion-dos_contacto_form_div--novedades {
  color: white;
}

/****************************************************Fin de PRIMERA SECCION CONTACTO: TITULO Y FORMULARIO (Mobile)****************************************************/
/****************************************************PRIMERA SECCION CONTACTO: TITULO Y FORMULARIO (Desktop)****************************************************/
@media (max-width: 768px) {
  .seccion-uno_contacto_div_p {
    display: none;
  }
}
@media (min-width: 768px) {
  .seccion-uno_contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
/****************************************************Fin de PRIMERA SECCION CONTACTO: TITULO Y FORMULARIO (Desktop)****************************************************/
/*-----------------------------------------------*/
/****************************************************SEGUNDA SECCION CONTACTO: MAPA(Mobile)****************************************************/
.seccion-tres_contacto--google_maps {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 2rem;
  width: 100%;
}

/****************************************************Fin de SEGUNDA SECCION CONTACTO: MAPA(Mobile)****************************************************/
/****************************************************SEGUNDA SECCION CONTACTO: MAPA(Desktop)****************************************************/
@media (min-width: 768px) {
  .seccion-uno_contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
  .seccion-uno_contacto_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .seccion-dos_contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .seccion-dos_contacto_form {
    border: 2px solid;
    border-color: #000;
    border-radius: 15px;
    height: 65vh;
    width: 65vh;
    padding: 20px;
  }
}
/****************************************************Fin de SEGUNDA SECCION CONTACTO: MAPA(Desktop)****************************************************/
.seccion-tres_contacto_ubicacion {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

/*-----------------------------------------------*/
/****************************************************TERCERA SECCION CONTACTO: ICONOS (Mobile)****************************************************/
.seccion-cuatro_contacto_iconos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.seccion-cuatro_contacto_iconos--maps {
  height: 100px;
  width: 50px;
}

.seccion-cuatro_contacto_iconos--mail {
  height: 100px;
  width: 50px;
}

.seccion-cuatro_contacto_iconos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20%;
  padding-bottom: 4rem;
}

/****************************************************Fin de TERCERA SECCION CONTACTO: ICONOS (Mobile)****************************************************/
/*---------------------------------------------PORTAFOLIO---------------------------------------------*/
/****************************************************PRIMERA SECCION PORTFOLIO: PORTADA (Mobile)****************************************************/
.seccion-uno-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
  gap: 1rem;
}

/****************************************************Fin de PRIMERA SECCION PORTFOLIO: PORTADA (Mobile)****************************************************/
/*-----------------------------------------------*/
/****************************************************SEGUNDA SECCION PORTFOLIO: TRABAJOS(Mobile)****************************************************/
.seccion-dos-portfolio_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
  gap: 1rem;
}

.seccion-dos-portfolio_img {
  border: 3px solid;
  border-color: black;
  border-radius: 10px;
}

.seccion-tres-portfolio_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
  gap: 1rem;
}

.seccion-tres-portfolio_div_img {
  border: 3px solid;
  border-color: black;
  border-radius: 10px;
}

.seccion-cuatro-portfolio_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
  gap: 1rem;
}

.seccion-cuatro-portfolio_div_img {
  border: 3px solid;
  border-color: black;
  border-radius: 10px;
}

.seccion-cinco-portfolio_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
  gap: 1rem;
}

.seccion-cinco-portfolio_div_img {
  border: 3px solid;
  border-color: black;
  border-radius: 10px;
}

.seccion-seis-portfolio_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
  gap: 1rem;
}

.seccion-seis-portfolio_div_img {
  border: 3px solid;
  border-color: black;
  border-radius: 10px;
}

/****************************************************Fin de SEGUNDA SECCION PORTFOLIO: TRABAJOS(Mobile)****************************************************/
/****************************************************SEGUNDA SECCION PORTFOLIO: TRABAJOS (Desktop)****************************************************/
@media (min-width: 1058px) {
  .seccion-uno-portfolio {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
  .seccion-dos-portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    margin-bottom: 100px;
  }
  .seccion-dos-portfolio_div {
    padding: 10px 25px 10px 25px;
    background-color: white;
    margin: 10px 25px 100px 25px;
    border-radius: 5%;
  }
  .seccion-tres-portfolio_div {
    padding: 10px 25px 10px 25px;
    background-color: white;
    margin: 10px 25px 100px 25px;
    border-radius: 5%;
  }
  .seccion-cuatro-portfolio_div {
    padding: 10px 25px 10px 25px;
    background-color: white;
    margin: 10px 25px 100px 25px;
    border-radius: 5%;
  }
  .seccion-cinco-portfolio_div {
    padding: 10px 25px 10px 25px;
    background-color: white;
    margin: 10px 25px 100px 25px;
    border-radius: 5%;
  }
  .seccion-seis-portfolio_div {
    padding: 10px 25px 10px 25px;
    background-color: white;
    margin: 10px 25px 100px 25px;
    border-radius: 5%;
  }
  .seccion-dos-portfolio_h2 {
    color: black;
    text-shadow: none;
  }
  .seccion-dos-portfolio_p {
    color: black;
  }
  .seccion-tres-portfolio_div_h2 {
    color: black;
    text-shadow: none;
  }
  .seccion-tres-portfolio_div_p {
    color: black;
  }
  .seccion-cuatro-portfolio_div_h2 {
    color: black;
    text-shadow: none;
  }
  .seccion-cuatro-portfolio_div_p {
    color: black;
  }
  .seccion-cinco-portfolio_div_h2 {
    color: black;
    text-shadow: none;
  }
  .seccion-cinco-portfolio_div_p {
    color: black;
  }
  .seccion-seis-portfolio_div_h2 {
    color: black;
    text-shadow: none;
  }
  .seccion-seis-portfolio_div_p {
    color: black;
  }
}
/****************************************************Fin de SEGUNDA SECCION PORTFOLIO: TRABAJOS (Desktop)****************************************************/

/*# sourceMappingURL=style.css.map */
