/*RESETEO MANUAL DE CSS*/ 

* {
    margin: 0;
    padding: 0; 
    box-sizing: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
/*FIN de reseteo manual de css*/

/*PRIMERA SECCION (mobile)*/

.primera_seccion_index {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 2rem;
    background-image: url(../img/persona_programando.jpg);
    background-size: cover;
    height: 60vh;
    background-position: center;
    align-items: center;
}

.titulo_primera_seccion {
    color: white;
    text-align: center;
    text-shadow: 0 0 10px black;
}

.subtitulo_primera_seccion {
    color: white;
    text-align: center;
}

.parrafo_primera_seccion {
    color: white;
    text-align: center;
}

.boton_primera_seccion {
    height: 2rem;
    width: 7rem;
    border-radius: 10px;
    justify-content: center;
}
/*Fin de PRIMERA SECCION (mobile)*/

/*PRIMERA SECCION (Desktop)*/

@media (min-width: 768px) {
    
    .primera_seccion_index {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        ". titulo_primera_seccion ."
        ". subtitulo_primera_seccion ."
        ". parrafo_primera_seccion ."
        ". boton_primera_seccion ."
        ;
        justify-items: center;
    }

    .titulo_primera_seccion{
        grid-area: titulo_primera_seccion;
    }
    .subtitulo_primera_seccion{
        grid-area: subtitulo_primera_seccion;
    }
    .parrafo_primera_seccion{
        grid-area: parrafo_primera_seccion;
    }
    .boton_primera_seccion{
        grid-area: boton_primera_seccion;
    }
}