/*--------------VARIABLES GLOBALES--------------*/
// Colores
$color-primario: #ff6600;
$color-secundario: #ffcc00;
$color-texto: #f5f5f5;
$color-complementario: #333333;
$color-fondo: #1a1a1a;
$color-complementario-2:#ffa500;

// Tipografías
$fuente-primaria: 'Montserrat', sans-serif;
$fuente-secundaria: 'Lora', serif;
$fuente-tamaño-base: 16px;
$fuente-tamaño-largo: 2rem;
$fuente-tamaño-chico: 0.875rem;

// Espaciados
$espaciado-chico: 8px;
$espaciado-medio: 16px;
$espaciado-grande: 32px;

// Otros
$radio-de-borde: 10px;
$sombras: 0 4px 6px rgba(0, 0, 0, 0.1);

/*--------------Fin de VARIABLES GLOBALES--------------*/

/*--------------RESETEO MANUAL DE CSS--------------*/ 

* {
    margin: 0;
    padding: 0; 
    box-sizing: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: $color-texto;
}

img {
    max-width: 100%;
}

body {
    overflow-x: hidden;
}
/*--------------FIN de reseteo manual de css--------------*/



/*--------------CLASES PARA PERSONALIZACION--------------*/



.seccion_centrada {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
}

.seccion_centrada_mobile {
    max-width: 520px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
}

.blanco-centrado {
    color: white;
    text-align: center;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.grid_centrado {
    display: grid;
    justify-items: center;
    align-items: center;
}

.botones_generales {
    height: 2rem;
    width: 7rem;
    border-radius: $radio-de-borde;
    align-self: center;
    background-color: $color-primario;
    color: #fff;
    box-shadow: $sombras;
    transition-duration: 0.5s;
    &:hover {
        transform: scale(1.2) !important;
        background-color: #f5f5f5 !important;
        color: #ff6600 !important;
    }
}
/*--------------Fin de CLASES PARA PERSONALIZACION--------------*/

/*ESTILO GENERAL DEL SITIO*/

body {
    background-color: $color-fondo;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-texto;
    font-family: $fuente-primaria;
}

h1 {
    text-transform: uppercase;
    font-weight: 1000;
    letter-spacing: 0.6rem;
}

h2 {
    font-weight: 800;
    text-shadow: 1px 1px 2px orange
}

p {
    color: $color-texto;
    font-family: $fuente-secundaria;
    font-size: 15px;
    line-height: 2rem;
}

button {
    @extend .botones_generales
}


ol {
    font-family: $fuente-secundaria;
    font-size: 15px;
    text-align: justify;
}

a {

    &:hover {
        color: black;
    }   
}