/***************************************************PRIMERA SECCION INDEX: PORTADA (mobile)***************************************************/
.seccion-uno-index {
    @extend .flex_column;
    padding: 2rem;
    position: relative;
    background-size: cover;
    height: 60vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(../img/persona_programando.jpg);
        background-size: cover;
        background-position: center;
        filter: brightness(70%);
        z-index: -1;
        transition: filter 1s;
    }
}

.seccion-uno-index_h1 {
    @extend .blanco-centrado;
    text-shadow: 0 0 10px black;
}

.seccion-uno-index_h2 {
    @extend .blanco-centrado;
}

.seccion-uno-index_p {
    @extend .blanco-centrado;
}

.button--portada { 
    justify-content: center;
} 
/***************************************************Fin de PRIMERA SECCION INDEX: PORTADA(mobile)***************************************************/

/***************************************************PRIMERA SECCION INDEX PORTADA(Desktop)***************************************************/

@media (min-width: 768px) {

    .seccion-uno-index {
        max-width: 1600px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 10px;
        padding-left: 10px;
    }
    .seccion-uno-index_h1{
        grid-area: seccion-uno-index_h1;
    }
    .seccion-uno-index_h2{
        grid-area: seccion-uno-index_h2;
    }
    .seccion-uno-index_p{
        grid-area: seccion-uno-index_p;
    }
    .seccion-uno-index_button{
        grid-area: seccion-uno-index_button;
    }
}

@media(min-width: 1200px){
    .seccion-uno-index--min-height{
        min-height: 100vh;
    }
}

/***************************************************Fin de PRIMERA SECCION INDEX PORTADA(Desktop)***************************************************/

/***************************************************SEPARADOR INDEX (Mobile)***************************************************/

.seccion-separador-index {
    @extend .flex_row;
    align-items: center;
    padding: 4px;
    justify-content: space-around;
    background-color: #f7a839;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
}

.seccion-separador-index_div{
    @extend .flex_row;
    color: white;
    width: 100%;
    justify-content: space-around
}

.seccion-separador-index_h4{
    font-size: 1rem
}

/***************************************************Fin de SEPARADOR INDEX (Mobile)***************************************************/

/***************************************************SEGUNDA SECCION INDEX: VIDEO DE PRESENTACIÓN(mobile)***************************************************/

.seccion-dos-index {
    @extend .flex_column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
}

.seccion-dos-index_h2 {
    text-align: center;
    padding: 2rem;
    text-transform: uppercase;
    grid-area: seccion-dos-index_h2;
}

.seccion-dos-index_p {
    text-align: justify;
    padding: 1rem;
    grid-area: seccion-dos-index_p;
}

.seccion-dos-index_button {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    width: 90%;
    grid-area: seccion-dos-index_button;
}

.seccion-dos-index_a_button{
    align-self: center;
    justify-content: center;
}

.button--grid {
    margin-bottom: 3rem;
    grid-area: button_video;
    width: auto;
    align-self: center;
    justify-content: center;
}

.video {
    width: 98%;
    grid-area: video;
    border-radius: 5%;
}
/***************************************************Fin de SEGUNDA SECCION INDEX: VIDEO DE PRESENTACIÓN(mobile)***************************************************/

/***************************************************SEGUNDA SECCION INDEX: VIDEO DE PRESENTACIÓN(Desktop)***************************************************/

@media(min-width: 768px) {
    
    .seccion-dos-index {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 2fr 0.5fr;
        grid-template-areas: 
        "seccion-dos-index_h2 seccion-dos-index_h2"
        "seccion-dos-index_p video"
        ". button_video"
        ;
    }

    .video {
        margin: 0px;
    }
    
    .seccion-dos-index_h2 {
        padding-top:5vh;
    }

    .seccion-dos-index_p {
        font-size: 1.2rem;
    }

}

/***************************************************Fin de SEGUNDA SECCION INDEX: VIDEO DE PRESENTACIÓN(Desktop)***************************************************/

/***************************************************TERCERA SECCION INDEX: TECNOLOGÍAS QUE MANEJO(Mobile)***************************************************/

.seccion-tres-index {
    background-color: $color-complementario;
}

.seccion-tres-index_div {
    @extend .seccion_centrada;
    @extend .flex_column;
    align-items: center;
    overflow: hidden;
}

.seccion-tres-index_h2 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
}

.seccion-tres-index_div_tecnologias {
    @extend .grid_centrado;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.seccion-tres-index_p {
    font-size: 1rem;
}

.img-bootstrap {
    border-radius: 100%;
}

.img-wordpress {
    background-color: white;
    border-radius: 100%;
}

.tecno-ico {
    animation-name: animacion-tecno-ico;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes animacion-tecno-ico{
    40% {
      transform: translateY(-40px);
    }
    100% {
      transform: translateY(0);
    }
}

.img-html {
    animation-delay: 0.1s;
}
.img-css {
    animation-delay: 0.2s;
}
.img-bootstrap {
    animation-delay: 0.3s;
}
.img-wordpress {
    animation-delay: 0.4s;
}
/***************************************************Fin de TERCERA SECCION INDEX: TECNOLOGÍAS QUE MANEJO(Mobile)***************************************************/

/***************************************************TERCERA SECCION INDEX: TECNOLOGÍAS QUE MANEJO(Desktop)***************************************************/

@media(min-width: 768px) {
    .seccion-tres-index_div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 9rem 20rem;
        height: auto;
        grid-template-areas: 
        "seccion-tres-index_h2 seccion-tres-index_h2"
        "seccion-tres-index_div_tecnologias seccion-tres-index_p"
        ;
    }

    .seccion-tres-index {
        height: auto;
    }

    .seccion-tres-index_h2 {
        grid-area: seccion-tres-index_h2;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .seccion-tres-index_div_tecnologias {
        grid-area: seccion-tres-index_div_tecnologias;
        padding-left:4rem ;
        padding-right:4rem ;
    }

    .seccion-tres-index_p {
        grid-area: seccion-tres-index_p;
        text-align: justify;
        font-size: 1.2rem;
    }

    .seccion-tres-index_h2 {
        text-align: center;
    }
}

/***************************************************Fin de TERCERA SECCION INDEX: TECNOLOGÍAS QUE MANEJO(Desktop)***************************************************/

/***************************************************CUARTA SECCION INDEX: METODO DE TRABAJO (Mobile)***************************************************/

.seccion-cuatro-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem; /* Relleno alrededor del contenedor */
}

.seccion-cuatro-index_article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem; /* Espacio entre los artículos */
    width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 6rem;
    padding: 2rem; 
    margin: 1rem 0; 
    background-color: #f9f9f9; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    p {
        text-align: center;
        color: $color-fondo;
    }
    h3 {
        color: $color-fondo;
    }
}


.article--uno {
    background-image: url(../../img/1-circle-fill.svg);
}

.article--dos {
    background-image: url(../../img/2-circle-fill.svg);
}

.article--tres {
    background-image: url(../../img/3-circle-fill.svg);
}

.article--cuatro {
    background-image: url(../../img/4-circle-fill.svg);
}

.article--cinco {
    background-image: url(../../img/5-circle-fill.svg);
    animation-name: animacion-forma-trabajo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes animacion-forma-trabajo {
    50% {
        scale: 1.01;
    }
}

.seccion-cuatro-index_h2 {
    text-align: center;
}

.article--uno,
.article--dos,
.article--tres,
.article--cuatro,
.article--cinco {
    h3 {
        color: $color-texto;
        text-shadow: 1px 1px $color-primario;
        text-align: center;
    }
}


/***************************************************Fin de CUARTA SECCION INDEX: METODO DE TRABAJO (Mobile)***************************************************/

/***************************************************CUARTA SECCION INDEX: METODO DE TRABAJO (Desktop)***************************************************/
@media (min-width: 768px) {
    .seccion-cuatro-index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "seccion-cuatro-index_h2 seccion-cuatro-index_h2"
        "article--uno article--dos"
        "article--tres article--cuatro"
        "article--cinco article--cinco"
        ;
        gap: 6rem;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10rem;
    }

    .seccion-cuatro-index_h2{
        grid-area: seccion-cuatro-index_h2;
        text-align: center; 
        margin-bottom: 2rem;
        margin-top: 6rem; 
    }

    .article--uno {
        grid-area: article--uno;
    }
    
    .article--dos {
        grid-area: article--dos;
    }
    
    .article--tres {
        grid-area: article--tres;
    }
    
    .article--cuatro {
        grid-area: article--cuatro;
        h3 {
            text-align: center;
        }
    }
    
    .article--cinco {
        grid-area: article--cinco;
    }

    .article--uno,
    .article--dos,
    .article--tres,
    .article--cuatro,
    .article--cinco {
        padding: 6rem; 
        margin: 1rem; 
        background-color: #f9f9f9; 
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        h3 {
            color: $color-primario;
            text-shadow: 2px 1px $color-fondo
        }
    }
}
/***************************************************Fin de CUARTA SECCION INDEX: METODO DE TRABAJO (Desktop)***************************************************/