/*---------------------------------------------PORTAFOLIO---------------------------------------------*/

/****************************************************PRIMERA SECCION PORTFOLIO: PORTADA (Mobile)****************************************************/

.seccion-uno-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 5rem;
    gap: 1rem;
}
/****************************************************Fin de PRIMERA SECCION PORTFOLIO: PORTADA (Mobile)****************************************************/

/*-----------------------------------------------*/

/****************************************************SEGUNDA SECCION PORTFOLIO: TRABAJOS(Mobile)****************************************************/

.seccion-dos-portfolio_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
    gap: 1rem;
}

.seccion-dos-portfolio_img {
    border: 3px solid;
    border-color: black;
    border-radius: 10px;
}

.seccion-tres-portfolio_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
    gap: 1rem;
}

.seccion-tres-portfolio_div_img {
    border: 3px solid;
    border-color: black;
    border-radius: 10px;
}

.seccion-cuatro-portfolio_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
    gap: 1rem;
}

.seccion-cuatro-portfolio_div_img {
    border: 3px solid;
    border-color: black;
    border-radius: 10px;
}

.seccion-cinco-portfolio_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
    gap: 1rem;
}

.seccion-cinco-portfolio_div_img {
    border: 3px solid;
    border-color: black;
    border-radius: 10px;
}

.seccion-seis-portfolio_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
    gap: 1rem;
}

.seccion-seis-portfolio_div_img {
    border: 3px solid;
    border-color: black;
    border-radius: 10px;
}

/****************************************************Fin de SEGUNDA SECCION PORTFOLIO: TRABAJOS(Mobile)****************************************************/
