/*---------------------------------------------PORTAFOLIO---------------------------------------------*/

/****************************************************PRIMERA SECCION PORTFOLIO: PORTADA (Mobile)****************************************************/

.seccion-uno-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 5rem;
    gap: 1rem;
}
/****************************************************Fin de PRIMERA SECCION PORTFOLIO: PORTADA (Mobile)****************************************************/

/*-----------------------------------------------*/

/****************************************************SEGUNDA SECCION PORTFOLIO: TRABAJOS(Mobile)****************************************************/

.seccion-dos-portfolio_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
    gap: 1rem;
}

.seccion-dos-portfolio_img {
    border: 3px solid;
    border-color: black;
    border-radius: 10px;
}

.seccion-tres-portfolio_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
    gap: 1rem;
}

.seccion-tres-portfolio_div_img {
    border: 3px solid;
    border-color: black;
    border-radius: 10px;
}

.seccion-cuatro-portfolio_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
    gap: 1rem;
}

.seccion-cuatro-portfolio_div_img {
    border: 3px solid;
    border-color: black;
    border-radius: 10px;
}

.seccion-cinco-portfolio_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
    gap: 1rem;
}

.seccion-cinco-portfolio_div_img {
    border: 3px solid;
    border-color: black;
    border-radius: 10px;
}

.seccion-seis-portfolio_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
    gap: 1rem;
}

.seccion-seis-portfolio_div_img {
    border: 3px solid;
    border-color: black;
    border-radius: 10px;
}

/****************************************************Fin de SEGUNDA SECCION PORTFOLIO: TRABAJOS(Mobile)****************************************************/

/****************************************************SEGUNDA SECCION PORTFOLIO: TRABAJOS (Desktop)****************************************************/
@media (min-width: 1058px){
    .seccion-uno-portfolio {
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 10px;
        padding-left: 10px;
    }

    .seccion-dos-portfolio {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 10px;
        margin-bottom: 100px;
    }

    .seccion-dos-portfolio_div{ 
        padding: 10px 25px 10px 25px;
        background-color: white;
        margin: 10px 25px 100px 25px;
        border-radius: 5%;
    }

    .seccion-tres-portfolio_div {
        padding: 10px 25px 10px 25px;
        background-color: white;
        margin: 10px 25px 100px 25px;
        border-radius: 5%;
    }

    .seccion-cuatro-portfolio_div {
        padding: 10px 25px 10px 25px;
        background-color: white;
        margin: 10px 25px 100px 25px;
        border-radius: 5%;
    }

    .seccion-cinco-portfolio_div {
        padding: 10px 25px 10px 25px;
        background-color: white;
        margin: 10px 25px 100px 25px;
        border-radius: 5%;
    }

    .seccion-seis-portfolio_div {
        padding: 10px 25px 10px 25px;
        background-color: white;
        margin: 10px 25px 100px 25px;
        border-radius: 5%;
    }

    .seccion-dos-portfolio_h2 {
        color: black;
        text-shadow: none;
    }
    .seccion-dos-portfolio_p{
        color: black;
    }

    .seccion-tres-portfolio_div_h2 {
        color: black;
        text-shadow: none;
    }
    .seccion-tres-portfolio_div_p{
        color: black;
    }

    .seccion-cuatro-portfolio_div_h2 {
        color: black;
        text-shadow: none;
    }
    .seccion-cuatro-portfolio_div_p{
        color: black;
    }

    .seccion-cinco-portfolio_div_h2 {
        color: black;
        text-shadow: none;
    }
    .seccion-cinco-portfolio_div_p{
        color: black;
    }

    .seccion-seis-portfolio_div_h2 {
        color: black;
        text-shadow: none;
    }
    .seccion-seis-portfolio_div_p{
        color: black;
    }
}

/****************************************************Fin de SEGUNDA SECCION PORTFOLIO: TRABAJOS (Desktop)****************************************************/